@font-face {
  font-family: "Baron-Neue";
  src: url(fonts/BaronNeue-Regular.otf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Baron-Neue";
  src: url(fonts/BaronNeue-Bold.otf) format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Baron-Neue";
  src: url(fonts/BaronNeue-Italic.otf) format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "CodeNext";
  src: url(fonts/CodeNext-Trial-Regular.ttf) format("truetype");
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Baron-Neue";
  /* border: 1px solid black; */
}

body {
  display: grid;
  grid-template-columns: 3fr 200px 200px 200px 3fr;
  grid-template-rows: 2fr 300px 300px 4fr;
  height: 100vh;
}

.header {
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration-style: solid;
  grid-area: 1/1/2/6;
}

.cta {
  grid-area: 1/5/2/6;
}

.game-grid {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 200px 200px 200px;
  grid-area: 2/2/4/5;
  align-items: center;
  justify-content: center;
}

.box {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: 1px solid lightgray;
}

.user-input {
  grid-area: 2/1/3/2;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

#user1,
#opponent {
  height: 60px;
  font-size: 60px;
  width: 80%;
  border: none;
  caret-color: red;
}

.user-name {
  grid-area: 4/1/5/3;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 70px;
}

.button-input {
  grid-area: 3/1/4/2;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

#user1button {
  border: 0px;
  cursor: pointer;
  background-color: white;
}

.opponent {
  grid-area: 2/5/3/6;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.opponent-name {
  grid-area: 4/4/5/6;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 70px;
}

.fancy.reset {
  margin: 20px;
}
.versus {
  font-size: 50px;
  grid-area: 4/3/5/4;
  align-items: center;
  justify-content: center;
  display: flex;
}

.marker {
  cursor: default;
}

.robot {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* checkbox */

.mark-button {
  border: 3px solid #1a1a1a;
  display: inline-block;
  padding: 10px;
  position: relative;
  text-align: center;
  -webkit-transition: background 600ms ease, color 600ms ease;
  transition: background 600ms ease, color 600ms ease;
}

input[type="radio"].toggle {
  display: none;
}

input[type="radio"].toggle + label {
  cursor: pointer;
  min-width: 60px;
}

input[type="radio"].toggle + label:hover {
  background: none;
  color: #1a1a1a;
}

input[type="radio"].toggle + label:after {
  background: #1a1a1a;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  -webkit-transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
  width: 100%;
  z-index: -1;
}

input[type="radio"].toggle.toggle-left + label {
  border-right: 0;
}

input[type="radio"].toggle.toggle-left + label:after {
  left: 100%;
}

input[type="radio"].toggle.toggle-right + label {
  margin-left: -5px;
}

input[type="radio"].toggle.toggle-right + label:after {
  left: -100%;
}

input[type="radio"].toggle:checked + label {
  cursor: default;
  color: #fff;
  -webkit-transition: color 200ms;
  transition: color 200ms;
}

input[type="radio"].toggle:checked + label:after {
  left: 0;
}

/* From uiverse.io */
.fancy {
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 1.25em 2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  font-size: 13px;
}

.fancy::before {
  content: " ";
  width: 1.5625rem;
  height: 2px;
  background: red;
  top: 50%;
  left: 1.5em;
  position: absolute;
  transform: translateY(-50%);
  transform-origin: center;
  transition: background 0.3s linear, width 0.3s linear;
}

.opponent::before {
  background: green;
}

.reset::before {
  background: blue;
}

.fancy .text {
  font-size: 1.125em;
  line-height: 1.33333em;
  padding-left: 2em;
  display: block;
  text-align: left;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.fancy .top-key {
  height: 2px;
  width: 1.5625rem;
  top: -2px;
  left: 0.625rem;
  position: absolute;
  background: #e8e8e8;
  transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  background: #e8e8e8;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
  height: 2px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  background: #e8e8e8;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
  color: white;
  background: black;
}

.fancy:hover::before {
  width: 0.9375rem;
  background: white;
}

.fancy:hover .text {
  color: white;
  padding-left: 1.5em;
}

.fancy:hover .top-key {
  left: -2px;
  width: 0px;
}

.fancy:hover .bottom-key-1,
.fancy:hover .bottom-key-2 {
  right: 0;
  width: 0;
}

/* From uiverse.io by @alexmaracinaru */
.cta {
  border: none;
  background: none;
}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 15px;
  padding-right: 15px;
  text-transform: uppercase;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: black;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* From uiverse.io by @Cevorob */
.computer-button {
  grid-area: 3/5/4/6;
  position: relative;
  height: 50px;
  padding: 0 30px;
  border: 2px solid #000;
  background: #e8e8e8;
  user-select: none;
  white-space: nowrap;
  transition: all 0.05s linear;
  font-family: inherit;
}

.computer-button:before,
.computer-button:after {
  content: "";
  position: absolute;
  background: #e8e8e8;
  transition: all 0.2s linear;
}

.computer-button:before {
  width: calc(100% + 6px);
  height: calc(100% - 16px);
  top: 8px;
  left: -3px;
}

.computer-button:after {
  width: calc(100% - 16px);
  height: calc(100% + 6px);
  top: -3px;
  left: 8px;
}

.computer-button:hover {
  cursor: crosshair;
}

.computer-button:active {
  transform: scale(0.95);
}

.computer-button:hover:before {
  height: calc(100% - 32px);
  top: 16px;
}

.computer-button:hover:after {
  width: calc(100% - 32px);
  left: 16px;
}
.computer-button span {
  font-size: 15px;
  z-index: 3;
  position: relative;
  font-weight: 600;
}
