* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 2fr 600px 2fr;
  grid-template-rows: 50px 550px 180px;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration-style: solid;
  grid-area: 1/1/2/4;
}

.game-grid {
  display: grid;
  grid-template-columns: 180px 180px 180px;
  grid-template-rows: 180px 180px 180px;
  grid-area: 2/2/3/3;
  align-items: center;
  justify-content: center;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box:hover {
  cursor: pointer;
}

svg {
  width: 100px;
}
